################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AL.WebApi/AL.WebApi.csproj
/AnotaLI.sln

[Dd]ebug/
[Rr]elease/
.vscode/
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log
*.pdb
*.dbmdl
*.jfm
*.ide
# Others
appsettings.json
appsettings.Development.json
/AL.WebApi/bin/Debug/net8.0/AL.Core.dll
/AL.WebApi/bin/Debug/net8.0/AL.Data.dll
/AL.WebApi/bin/Debug/net8.0/AL.WebApi.dll
/AL.WebApi/AnotaLi.db
/AL.WebApi/AnotaLi.db-shm
/AL.WebApi/AnotaLi.db-wal
